body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  padding: 20px;
}

a {
  color: #00ffcc;
  text-decoration: none;
}

.project {
  background: #1e1e1e;
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px;
}
