body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: white;
}

header {
  background: linear-gradient(90deg, #00ffcc, #0077ff);
  padding: 30px;
  text-align: center;
  color: black;
}

main {
  max-width: 900px;
  margin: 30px auto;
  padding: 0 20px;
}

.card {
  background: #1a1a1a;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
}

h1, h2 {
  margin-top: 0;
}

.projectcard {
  background-color: linear-gradient(90deg, #00ffcc, #0077ff);
  text-align: center;
  padding: 20px;
  color: #0f0f0f
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}